.App {
  height: 100%;
}
.themeChange {
  position: fixed;
  height: 40%;
  top: 0%;
  z-index: 99;
}
.lamp {
  position: relative;
  rotate: -45deg;
  height: 100%;
  left: -30%;
  top: -30%;
}
.bulb {
  position: absolute;
  height: 70%;
  top: 19%;
  left: 22%;
}
.rope {
  position: absolute;
  height: 50%;
  top: 35%;
  left: 20%;
}
.glow {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
.mainData {
  border: 3px solid black;
  position: absolute;
  height: 25vw;
  width: 50vw;
  border-radius: 2rem;
  left: 15vw;
  top: 7vw;
  padding: 5vw;
  padding-right: 15vw;
}
.mainData > div {
  font-family: "Cherry Bomb";
  font-size: 4.5vw;
}
.mainData > hr {
  width: 40vw;
  margin-left: 0vw;
  height: 0.2vw;
  border-radius: 2rem;
  background-color: #93969f;
}
.mainData > h2 {
  font-family: "Bruno Ace";
  font-size: 1.5vw;
}
.mainData > p {
  margin-top: 5vw;
  font-family: "Baumans";
  font-size: 1.5vw;
}
.gmail {
  position: absolute;
  height: 20vw;
  right: 8vw;
  top: 26vw;
  z-index: 0;
}
.gmail:hover {
  filter: drop-shadow(0vw 2vw 5vw rgba(253, 49, 76, 0.7));
}
.gmail-logo {
  position: absolute;
  height: 8vw;
  right: 13vw;
  top: 35vw;
}
.github {
  position: absolute;
  height: 20vw;
  right: 8vw;
  top: 16vw;
  z-index: 1;
}
.github:hover {
  filter: drop-shadow(0vw 2vw 5vw rgba(0, 0, 0, 0.7));
}
.linkedin {
  position: absolute;
  height: 20vw;
  right: 8vw;
  top: 6vw;
  z-index: 2;
}
.linkedin:hover {
  filter: drop-shadow(0vw 2vw 5vw rgba(143, 159, 252, 0.7));
}
.nav {
  position: fixed;
  width: 48vw;
  height: 3.5vw;
  background-color: black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  right: 0vw;
  padding-top: 1.5vw;
  padding-left: 1.5vw;
  top: 0;
  z-index: 99;
}
.nav > .item {
  color: white;
  font-family: "Gluten";
  font-size: 2vw;
  margin: 0.5vw;
  cursor: pointer;
  transition-duration: 0.3s;
}
.nav > .item:hover {
  font-size: 2.3vw;
}
.item {
  text-decoration: none;
}
.item > b {
  border: 0.2vw solid white;
  border-radius: 2rem;
  padding: 0.7vw;
}
.projects {
  position: absolute;
  width: 80vw;
  height: 35vw;
  top: 10vh;
  left: 10vw;
}
.projects > p {
  font-size: 4.5vw;
  font-family: "Bruno Ace";
  text-align: center;
}
.projects > hr {
  width: 35vw;
  margin-top: -3vw;
}
.projects > .neo {
  height: 14vw;
  width: 20vw;
  border-radius: 2rem;
  box-shadow: -0.3vw -0.3vw 3vw rgba(255, 255, 255, 0.6),
    0.5vw 0.5vw 2vw rgba(138, 143, 153, 0.575);
  margin-top: 4vw;
  float: left;
  margin-right: 3vw;
  margin-left: 3.5vw;
  text-align: center;
  font-family: "Cherry Bomb";
  font-size: 3vw;
  padding-top: 6vw;
  text-shadow: 2vw -2vw 2vw white;
  cursor: pointer;
}
.NavBar {
  position: absolute;
  width: 100%;
  height: 5vw;
  background-color: black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-top: 1.5vw;
  padding-left: 1.5vw;
}
.page {
  position: relative;
  height: 100%;
  width: 100%;
}
.edu {
  position: absolute;
  width: 75vw;
  top: 30vh;
  left: 3vw;
}
.head {
  position: absolute;
  width: 80vw;
  height: 35vw;
  top: 1.7vw;
  left: 10vw;
}
.head > hr {
  width: 25vw;
  margin-top: -4vw;
}
.head > p {
  font-size: 4.5vw;
  font-family: "Bruno Ace";
  text-align: center;
}
.projects-buttons {
  position: absolute;
  width: 10vw;
  height: 12vh;
  top: 6.5vw;
  font-size: 4.5vw;
  font-family: "Bruno Ace";
  background-color: #ffffff;
  border-radius: 5rem;
  border: #000000 2px solid;
  cursor: pointer;
  z-index: 2;
  text-align: center;
}
.projects-next {
  right: 20vw;
}
.projects-prev {
  left: 20vw;
}
.projects-close {
  right: 6vw;
  border: #e6aaaa 2px solid;
  color: #fc9696;
}
.expBoard > h1 {
  font-size: 3vw;
  font-family: "Bruno Ace";
}
.expBoard {
  position: absolute;
  width: 82vw;
  height: 68vh;
  top: 27vh;
  left: -2vw;
  border: #000000 0.2vw solid;
  border-radius: 2rem;
  overflow: hidden;
  padding-left: 2vw;
  left: 9vw;
}
.expBoard > h3 {
  font-size: 1.5vw;
  font-family: "Bruno Ace";
  color: #93969f;
  width: 45vw;
  text-align: justify;
}
.expBoard > img {
  width: 30vw;
  height: 30vw;
  top: 1vw;
  position: absolute;
  right: 3vw;
  border-radius: 2rem;
}
.hexagonal-neomorphic-div {
  position: relative;
  width: 11vw;
  height: 12vw;
  margin-top: -3vw;
  background-image: url("../assets/skills/hexa.svg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagonal-neomorphic-div > img {
  position: absolute;
  width: 7.5vw;
  height: 7.5vw;
  margin-left: -0.4vw;
  margin-top: -0.4vw;
}
.row {
  position: absolute;
  width: 80vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second {
  top: 20vw;
}
.third {
  top: 30vw;
}
.Footer {
  width: 100%;
  background-color: black;
  height: 6.4%;
  align-items: center;
  display: flex;
  margin-top: -2.9vw;
}
.contact {
  position: absolute;
  width: 50%;
  font-size: 2vw;
  font-family: "Bruno Ace";
  color: #ffffff;
  padding-left: 1%;
  cursor: pointer;
  text-decoration: none;
}
.top {
  position: absolute;
  height: 1%;
  align-items: center;
  display: flex;
  font-size: 1.5vw;
  font-family: "Bruno Ace";
  color: #ffffff;
  right: 1vw;
  border: #ffffff 0.2vw solid;
  border-radius: 2rem;
  padding: 1%;
  cursor: pointer;
}
.expContainer {
  display: flex;
  width: fit-content;
  height: 100%;
}
.expCard {
  position: relative;
  width: 25vw;
  height: 30vw;
  top: 2vh;
}
.pane {
  position: absolute;
  width: 25vw;
  height: 23.5vw;
  z-index: 3;
}
.desc {
  position: absolute;
  width: 20vw;
  height: 10vh;
  bottom: 0;
  background-color: rgba(244, 249, 0, 0.29);
  font-size: 1.1vw;
  font-family: "Bruno Ace";
  left: 2vw;
  border-radius: 1rem;
  border: #000000 0.2vw solid;
}
.desc > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.tshirt {
  position: absolute;
  width: 20vw;
  height: 23.5vw;
  z-index: 4;
  top: -1vw;
  left: 3vw;
}
.scrollButton-right {
  position: absolute;
  width: 6.5vw;
  height: 5vw;
  right: 2.5vw;
  z-index: 5;
  cursor: pointer;
  top: 24vw;
}
.scrollButton-left {
  position: absolute;
  width: 6.5vw;
  height: 5vw;
  top: 25vw;
  left: 5.5vw;
  z-index: 5;
  cursor: pointer;
}
.scrollText {
  background-color: white;
  border-radius: 20rem;
  border: #000000 0.2vw solid;
  font-size: 3.5vw;
  padding: 1vw;
  font-family: "Bruno Ace";
  align-items: center;
  justify-content: center;
  display: flex;
}
.divider {
  width: 50vw;
  height: 10vw;
  rotate: 90deg;
  margin-left: -20vw;
  margin-right: -20vw;
  margin-top: 3vw;
  opacity: 70%;
}
.dividerText {
  rotate: -90deg;
  margin-left: -26vw;
  margin-right: -24vw;
  font-size: 1.8vw;
  font-family: "Bruno Ace";
  width: 50vw;
  height: 10vw;
}
.eduDark,
.edu_mobDark,
.edu_mob {
  display: none;
}
.row_mob {
  display: none;
}
.mob_nav {
  display: none;
}
.web_nav {
  display: block;
}
@media only screen and (max-width: 767px) {
  .App {
    height: 100%;
  }
  .lamp {
    display: none;
  }
  .bulb {
    display: none;
  }
  .mainData {
    height: 130vw;
    width: 60vw;
    left: 8vw;
    top: 20vw;
  }
  .mainData > div {
    font-size: 12vw;
    text-align: center;
    width: 70vw;
  }
  .mainData > hr {
    width: 60vw;
    margin-left: 5vw;
    height: 0.5vw;
  }
  .mainData > h2 {
    font-size: 6vw;
    text-align: center;
    width: 70vw;
  }
  .mainData > p {
    margin-top: 6vw;
    font-size: 5vw;
    text-align: justify;
    width: 70vw;
  }
  .gmail {
    height: 37vw;
    left: 10vw;
    top: 140vw;
  }
  .github {
    height: 37vw;
    right: 35vw;
    top: 140vw;
    z-index: 1;
  }
  .linkedin {
    height: 37vw;
    right: 8vw;
    top: 140vw;
  }
  .projects {
    top: 10vh;
  }
  .projects > p {
    font-size: 9vw;
  }
  .projects > hr {
    width: 60vw;
  }
  .projects > .neo {
    height: 26vw;
    width: 41vw;
    margin-left: 19vw;
    font-size: 6.7vw;
    padding-top: 12vw;
  }
  .head {
    top: 10vw;
  }
  .head > hr {
    width: 35vw;
    top: 30vw;
    position: inherit;
    left: 24.5vw;
  }
  .head > p {
    font-size: 9vw;
    top: 6vw;
    position: inherit;
    width: 80vw;
    text-align: center;
  }
  .projects-buttons {
    width: 12vw;
    height: 12vw;
    top: 90vw;
    font-size: 7vw;
  }
  .projects-next {
    right: 2vw;
  }
  .projects-prev {
    left: 2vw;
  }
  .projects-close {
    left: 11vw;
    top: 25vw;
  }
  .expBoard > h1 {
    font-size: 5.5vw;
    top: 53vw;
    position: absolute;
    width: 78vw;
    text-align: center;
  }
  .expBoard {
    position: absolute;
    width: 78vw;
    height: 80vh;
    top: 10vh;
    border: #000000 1vw solid;
  }
  .expBoard > h3 {
    font-size: 3.2vw;
    width: 64vw;
    position: relative;
    top: 63vw;
    padding-left: 6vw;
    color: rgb(121, 119, 119);
  }
  .expBoard > img {
    width: 35vw;
    height: 35vw;
    top: 18vw;
    position: absolute;
    left: 24vw;
    border-radius: 2rem;
  }
  .contact {
    font-size: 4.5vw;
    padding-left: 5%;
  }
  .top {
    height: 3%;
    font-size: 4.5vw;
    right: 1vw;
    border: #ffffff 0.7vw solid;
    border-radius: 2rem;
    padding: 1.2%;
  }
  .expContainer {
    display: flex;
    width: fit-content;
    height: 100%;
    padding-left: 4vw;
  }
  .expCard {
    width: 70vw;
    height: 100vw;
    top: 10vh;
  }
  .pane {
    width: 70vw;
    height: 85vw;
  }
  .desc {
    width: 65vw;
    height: 10vh;
    font-size: 4.3vw;
    border: #000000 0.5vw solid;
    top: 89vw;
  }
  .tshirt {
    width: 70vw;
    height: 65vw;
    left: 1vw;
  }
  .scrollButton-right {
    width: 35vw;
    height: 5vw;
    right: 12vw;
    top: 83vh;
  }
  .scrollButton-left {
    width: 35vw;
    height: 5vw;
    left: 12vw;
    top: 83vh;
  }
  .scrollText {
    border: #000000 0.6vw solid;
    font-size: 7vw;
  }
  .divider {
    width: 85vw;
    height: 120vw;
    rotate: 90deg;
    margin-left: -12.5vw;
    margin-right: -12.5vw;
  }
  .dividerText {
    rotate: -90deg;
    margin-left: -30vw;
    margin-right: -70vw;
    font-size: 5vw;
    font-family: "Bruno Ace";
    width: 100vw;
    height: 105vw;
  }
  .eduDark,
  .edu_mobDark,
  .edu {
    display: none;
  }
  .edu_mob {
    position: absolute;
    width: 60vw;
    top: 13vh;
    left: 7vw;
    z-index: -1;
    display: block;
  }
  .row {
    display: none;
  }

  .hexagonal-neomorphic-div {
    width: 25vw;
    height: 29vw;
    margin-top: -5vw;
  }
  .hexagonal-neomorphic-div > img {
    width: 15vw;
    height: 15vw;
    margin-left: 1vw;
    margin-top: -0.4vw;
  }
  .row_mob {
    position: absolute;
    width: 80vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first {
    top: 30vw;
  }
  .second {
    top: 51.5vw;
  }
  .third {
    top: 73vw;
  }
  .fourth {
    top: 95vw;
  }
  .fifth {
    top: 117vw;
  }
  .Footer {
    margin-top: -13vw;
    height: 7%;
  }
  .mob_nav {
    display: block;
  }
  .web_nav {
    display: none;
  }
  .nav {
    width: 100vw;
    height: 15vw;
    left: 0vw;
  }
  .nav > .item {
    font-size: 10vw;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 85vw;
    padding-top: 2vw;
  }
  .nav > .item:hover {
    font-size: 10vw;
  }
  .item {
    text-decoration: none;
  }
  .item > b {
    border: none;
  }
  .dropDown {
    color: white;
    position: absolute;
    font-family: "Bruno Ace";
    font-size: 10vw;
    right: 10vw;
    border-radius: 2rem;
    border: 1vw solid white;
    width: 12vw;
    height: 9vw;
    text-align: center;
    top: 2.5vw;
    line-height: 9vw;
  }
  .glowBar {
    position: fixed;
    width: 100vw;
    height: 10vw;
    left: 0vw;
    box-shadow: 0px 35px 10px #fdfb71;
  }
  .rope {
    position: absolute;
    height: 50%;
    top: 0%;
    left: 93vw;
  }
  .hamburger {
    position: absolute;
    width: 100vw;
    height: 80vw;
    left: 0vw;
    background-color: black;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .hamburger > .item {
    font-size: 10vw;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
    padding-top: 2vw;
    color: white;
    font-family: "Gluten";
    font-size: 10vw;
    margin: 0.5vw;
    cursor: pointer;
  }
  .hamburger > hr {
    width: 60vw;
    margin-left: 20vw;
    height: 0.2vw;
    border-radius: 2rem;
    background-color: #ffffff;
  }
  .hamburger > .item > b {
    border: 3.5px solid #ffffff;
    padding: 2%;
    padding-bottom: 2px;
  }
}
.DarkTheme {
  .App {
    height: 100%;
  }
  .themeChange {
    position: fixed;
    height: 40%;
    top: 0%;
    z-index: 99;
  }
  .lamp {
    position: relative;
    rotate: -45deg;
    height: 100%;
    left: -30%;
    top: -30%;
  }
  .bulb {
    position: absolute;
    height: 70%;
    top: 19%;
    left: 22%;
  }
  .rope {
    position: absolute;
    height: 50%;
    top: 35%;
    left: 20%;
    filter: hue-rotate(185deg) brightness(100);
  }
  .glow {
    filter: hue-rotate(185deg) brightness(100);
  }
  @keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    1% {
      opacity: 0;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    6% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.9;
    }
  }
  @-o-keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    1% {
      opacity: 0;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    6% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.9;
    }
  }
  @-moz-keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    1% {
      opacity: 0;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    6% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.9;
    }
  }
  @-webkit-keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    1% {
      opacity: 0;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    6% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.9;
    }
  }
  .mainData {
    border: 3px solid rgb(255, 255, 255);
    position: absolute;
    height: 25vw;
    width: 50vw;
    border-radius: 2rem;
    left: 15vw;
    top: 7vw;
    padding: 5vw;
    padding-right: 15vw;
  }
  .mainData > div {
    font-family: "Cherry Bomb";
    font-size: 4.5vw;
    color: white;
  }
  .mainData > hr {
    width: 40vw;
    margin-left: 0vw;
    height: 0.2vw;
    border-radius: 2rem;
    background-color: #ffffff;
  }
  .mainData > h2 {
    font-family: "Bruno Ace";
    font-size: 1.5vw;
    color: white;
  }
  .mainData > p {
    margin-top: 5vw;
    font-family: "Baumans";
    font-size: 1.5vw;
    color: white;
  }
  .gmail {
    position: absolute;
    height: 20vw;
    right: 8vw;
    top: 26vw;
    z-index: 0;
  }
  .gmail:hover {
    filter: drop-shadow(0vw 2vw 5vw rgba(253, 49, 76, 0.7));
  }
  .gmail-logo {
    position: absolute;
    height: 8vw;
    right: 13vw;
    top: 35vw;
  }
  .github {
    position: absolute;
    height: 20vw;
    right: 8vw;
    top: 16vw;
    z-index: 1;
  }
  .github:hover {
    filter: drop-shadow(0vw 2vw 5vw rgba(0, 0, 0, 0.7));
  }
  .linkedin {
    position: absolute;
    height: 20vw;
    right: 8vw;
    top: 6vw;
    z-index: 2;
  }
  .linkedin:hover {
    filter: drop-shadow(0vw 2vw 5vw rgba(143, 159, 252, 0.7));
  }
  .nav {
    position: fixed;
    width: 48vw;
    height: 3.5vw;
    background-color: #3e3e3e;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    right: 0vw;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    top: 0;
    z-index: 99;
  }
  .nav > .item {
    color: white;
    font-family: "Gluten";
    font-size: 2vw;
    margin: 0.5vw;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .nav > .item:hover {
    font-size: 2.3vw;
  }
  .item {
    text-decoration: none;
  }
  .item > b {
    border: 0.2vw solid white;
    border-radius: 2rem;
    padding: 0.7vw;
  }
  .projects {
    position: absolute;
    width: 80vw;
    height: 35vw;
    top: 10vh;
    left: 10vw;
  }
  .projects > p {
    font-size: 4.5vw;
    font-family: "Bruno Ace";
    text-align: center;
    color: white;
  }
  .projects > hr {
    width: 35vw;
    margin-top: -3vw;
  }
  .projects > .neo {
    height: 14vw;
    width: 20vw;
    border-radius: 2rem;
    box-shadow: -0.3vw -0.3vw 3vw rgba(255, 255, 255, 0.6),
      0.5vw 0.5vw 2vw rgba(138, 143, 153, 0.575);
    margin-top: 4vw;
    float: left;
    margin-right: 3vw;
    margin-left: 3.5vw;
    text-align: center;
    font-family: "Cherry Bomb";
    font-size: 3vw;
    padding-top: 6vw;
    cursor: pointer;
    color: white;

    text-shadow: none;
  }
  .NavBar {
    position: absolute;
    width: 100%;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
  }
  .page {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
  }
  .edu,
  .edu_mob,
  .edu_mobDark {
    display: none;
  }
  .eduDark {
    position: absolute;
    width: 75vw;
    top: 30vh;
    left: 3vw;
    display: block;
  }
  .head {
    position: absolute;
    width: 80vw;
    height: 35vw;
    top: 1.7vw;
    left: 10vw;
  }
  .head > hr {
    width: 25vw;
    margin-top: -4vw;
  }
  .head > p {
    font-size: 4.5vw;
    font-family: "Bruno Ace";
    text-align: center;
    color: white;
  }
  .projects-buttons {
    position: absolute;
    width: 10vw;
    height: 12vh;
    top: 6.5vw;
    font-size: 4.5vw;
    font-family: "Bruno Ace";
    background-color: #000000;
    border-radius: 5rem;
    border: #ffffff 2px solid;
    cursor: pointer;
    z-index: 2;
    text-align: center;
    color: white;
  }
  .projects-next {
    right: 20vw;
  }
  .projects-prev {
    left: 20vw;
  }
  .projects-close {
    right: 6vw;
    border: #e6aaaa 2px solid;
    color: #fc9696;
  }
  .expBoard > h1 {
    font-size: 3vw;
    font-family: "Bruno Ace";
    color: white;
  }
  .expBoard {
    position: absolute;
    width: 82vw;
    height: 68vh;
    top: 27vh;
    left: -2vw;
    border: #ffffff 0.2vw solid;
    border-radius: 2rem;
    overflow: hidden;
    padding-left: 2vw;
    left: 9vw;
  }
  .expBoard > h3 {
    font-size: 1.5vw;
    font-family: "Bruno Ace";
    color: #b1b2b4;
    width: 45vw;
    text-align: justify;
  }
  .expBoard > img {
    width: 30vw;
    height: 30vw;
    top: 1vw;
    position: absolute;
    right: 3vw;
    border-radius: 2rem;
  }
  .hexagonal-neomorphic-div {
    position: relative;
    width: 11vw;
    height: 12vw;
    margin-top: -3vw;
    background-image: url("../assets/skills/hexa.svg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hexagonal-neomorphic-div > img {
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    margin-left: -0.4vw;
    margin-top: -0.4vw;
  }
  .row {
    position: absolute;
    width: 80vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second {
    top: 20vw;
  }
  .third {
    top: 30vw;
  }
  .Footer {
    width: 100%;
    background-color: black;
    height: 6.4%;
    align-items: center;
    display: flex;
    margin-top: -2.9vw;
  }
  .contact {
    position: absolute;
    width: 50%;
    font-size: 2vw;
    font-family: "Bruno Ace";
    color: #ffffff;
    padding-left: 1%;
    cursor: pointer;
    text-decoration: none;
  }
  .top {
    position: absolute;
    height: 1%;
    align-items: center;
    display: flex;
    font-size: 1.5vw;
    font-family: "Bruno Ace";
    color: #ffffff;
    right: 1vw;
    border: #ffffff 0.2vw solid;
    border-radius: 2rem;
    padding: 1%;
    cursor: pointer;
  }
  .expContainer {
    display: flex;
    width: fit-content;
    height: 100%;
  }
  .expCard {
    position: relative;
    width: 25vw;
    height: 30vw;
    top: 2vh;
  }
  .pane {
    position: absolute;
    width: 25vw;
    height: 23.5vw;
    z-index: 3;
  }
  .desc {
    position: absolute;
    width: 20vw;
    height: 10vh;
    bottom: 0;
    font-size: 1.1vw;
    font-family: "Bruno Ace";
    left: 2vw;
    border-radius: 1rem;
    border: #00f0ff 0.2vw solid;
    color: white;
    background-color: black;
  }
  .desc > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .tshirt {
    position: absolute;
    width: 20vw;
    height: 23.5vw;
    z-index: 4;
    top: -1vw;
    left: 3vw;
  }
  .scrollButton-right {
    position: absolute;
    width: 6.5vw;
    height: 5vw;
    right: 2.5vw;
    z-index: 5;
    cursor: pointer;
    top: 24vw;
  }
  .scrollButton-left {
    position: absolute;
    width: 6.5vw;
    height: 5vw;
    top: 25vw;
    left: 5.5vw;
    z-index: 5;
    cursor: pointer;
  }
  .scrollText {
    background-color: black;
    border-radius: 20rem;
    border: #ffffff 0.2vw solid;
    font-size: 3.5vw;
    padding: 1vw;
    font-family: "Bruno Ace";
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
  }
  .divider {
    width: 50vw;
    height: 10vw;
    rotate: 90deg;
    margin-left: -20vw;
    margin-right: -20vw;
    margin-top: 3vw;
    opacity: 70%;
    filter: invert(100%);
  }
  .dividerText {
    rotate: -90deg;
    margin-left: -26vw;
    margin-right: -24vw;
    font-size: 1.8vw;
    font-family: "Bruno Ace";
    width: 50vw;
    height: 10vw;
    color: white;
  }
  .row_mob {
    display: none;
  }
  .mob_nav {
    display: none;
  }
  .web_nav {
    display: block;
  }
  @media only screen and (max-width: 767px) {
    .App {
      height: 100%;
    }
    .lamp {
      display: none;
    }
    .bulb {
      display: none;
    }
    .mainData {
      height: 130vw;
      width: 60vw;
      left: 8vw;
      top: 20vw;
    }
    .mainData > div {
      font-size: 12vw;
      text-align: center;
      width: 70vw;
    }
    .mainData > hr {
      width: 60vw;
      margin-left: 5vw;
      height: 0.5vw;
    }
    .mainData > h2 {
      font-size: 6vw;
      text-align: center;
      width: 70vw;
    }
    .mainData > p {
      margin-top: 6vw;
      font-size: 5vw;
      text-align: justify;
      width: 70vw;
    }
    .gmail {
      height: 37vw;
      left: 10vw;
      top: 140vw;
    }
    .github {
      height: 37vw;
      right: 35vw;
      top: 140vw;
      z-index: 1;
    }
    .linkedin {
      height: 37vw;
      right: 8vw;
      top: 140vw;
    }
    .projects {
      top: 10vh;
    }
    .projects > p {
      font-size: 9vw;
    }
    .projects > hr {
      width: 60vw;
    }
    .projects > .neo {
      height: 26vw;
      width: 41vw;
      margin-left: 19vw;
      font-size: 6.7vw;
      padding-top: 12vw;
    }
    .head {
      top: 10vw;
    }
    .head > hr {
      width: 35vw;
      top: 30vw;
      position: inherit;
      left: 24.5vw;
    }
    .head > p {
      font-size: 9vw;
      top: 6vw;
      position: inherit;
      width: 80vw;
      text-align: center;
    }
    .projects-buttons {
      width: 12vw;
      height: 12vw;
      top: 90vw;
      font-size: 7vw;
    }
    .projects-next {
      right: 2vw;
    }
    .projects-prev {
      left: 2vw;
    }
    .projects-close {
      left: 11vw;
      top: 25vw;
    }
    .expBoard > h1 {
      font-size: 5.5vw;
      top: 53vw;
      position: absolute;
      width: 78vw;
      text-align: center;
    }
    .expBoard {
      position: absolute;
      width: 78vw;
      height: 80vh;
      top: 10vh;
      border: #ffffff 1vw solid;
    }
    .expBoard > h3 {
      font-size: 3.2vw;
      width: 64vw;
      position: relative;
      top: 63vw;
      padding-left: 6vw;
      color: rgb(206, 206, 206);
    }
    .expBoard > img {
      width: 35vw;
      height: 35vw;
      top: 18vw;
      position: absolute;
      left: 24vw;
      border-radius: 2rem;
    }
    .contact {
      font-size: 4.5vw;
      padding-left: 5%;
    }
    .top {
      height: 3%;
      font-size: 4.5vw;
      right: 1vw;
      border: #ffffff 0.7vw solid;
      border-radius: 2rem;
      padding: 1.2%;
    }
    .expContainer {
      display: flex;
      width: fit-content;
      height: 100%;
      padding-left: 4vw;
    }
    .expCard {
      width: 70vw;
      height: 100vw;
      top: 10vh;
    }
    .pane {
      width: 70vw;
      height: 85vw;
    }
    .desc {
      width: 65vw;
      height: 10vh;
      font-size: 4.3vw;
      border: #00f0ff 0.5vw solid;
      top: 89vw;
    }
    .tshirt {
      width: 70vw;
      height: 65vw;
      left: 1vw;
    }
    .scrollButton-right {
      width: 35vw;
      height: 5vw;
      right: 12vw;
      top: 83vh;
    }
    .scrollButton-left {
      width: 35vw;
      height: 5vw;
      left: 12vw;
      top: 83vh;
    }
    .scrollText {
      border: #ffffff 0.6vw solid;
      font-size: 7vw;
    }
    .divider {
      width: 85vw;
      height: 120vw;
      rotate: 90deg;
      margin-left: -12.5vw;
      margin-right: -12.5vw;
    }
    .dividerText {
      rotate: -90deg;
      margin-left: -30vw;
      margin-right: -70vw;
      font-size: 5vw;
      font-family: "Bruno Ace";
      width: 100vw;
      height: 105vw;
    }
    .edu,
    .eduDark,
    .edu_mob {
      display: none;
    }
    .edu_mobDark {
      position: absolute;
      width: 60vw;
      top: 15vh;
      left: 7vw;
      display: block;
    }
    .row {
      display: none;
    }

    .hexagonal-neomorphic-div {
      width: 25vw;
      height: 29vw;
      margin-top: -5vw;
    }
    .hexagonal-neomorphic-div > img {
      width: 15vw;
      height: 15vw;
      margin-left: 1vw;
      margin-top: -0.4vw;
    }
    .row_mob {
      position: absolute;
      width: 80vw;
      height: 30vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .first {
      top: 30vw;
    }
    .second {
      top: 51.5vw;
    }
    .third {
      top: 73vw;
    }
    .fourth {
      top: 95vw;
    }
    .fifth {
      top: 117vw;
    }
    .Footer {
      margin-top: -13vw;
      height: 7%;
    }
    .mob_nav {
      display: block;
    }
    .web_nav {
      display: none;
    }
    .nav {
      width: 100vw;
      height: 15vw;
      left: 0vw;
    }
    .nav > .item {
      font-size: 10vw;
      display: flex;
      text-align: center;
      justify-content: center;
      width: 85vw;
      padding-top: 2vw;
    }
    .nav > .item:hover {
      font-size: 10vw;
    }
    .item {
      text-decoration: none;
    }
    .item > b {
      border: none;
    }
    .dropDown {
      color: white;
      position: absolute;
      font-family: "Bruno Ace";
      font-size: 10vw;
      right: 10vw;
      border-radius: 2rem;
      border: 1vw solid white;
      width: 12vw;
      height: 9vw;
      text-align: center;
      top: 2.5vw;
      line-height: 9vw;
    }
    .glowBar {
      position: fixed;
      width: 100vw;
      height: 10vw;
      left: 0vw;
      box-shadow: 0px 35px 10px #fdfb71;
    }
    .rope {
      position: absolute;
      height: 50%;
      top: 0%;
      left: 93vw;
    }
    .hamburger {
      position: absolute;
      width: 100vw;
      height: 80vw;
      left: 0vw;
      background-color: #3e3e3e;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
    .hamburger > .item {
      font-size: 10vw;
      display: flex;
      text-align: center;
      justify-content: center;
      width: 100vw;
      padding-top: 2vw;
      color: white;
      font-family: "Gluten";
      font-size: 10vw;
      margin: 0.5vw;
      cursor: pointer;
    }
    .hamburger > hr {
      width: 60vw;
      margin-left: 20vw;
      height: 0.2vw;
      border-radius: 2rem;
      background-color: #ffffff;
    }
    .hamburger > .item > b {
      border: 3.5px solid #ffffff;
      padding: 2%;
      padding-bottom: 2px;
    }
  }
}
