/* Skills */
.skills {
  position: absolute;
  height: 107vh;
  width: 100%;
  left: 0;
  top: -3vw;
  background-image: url("../assets/backgrounds/skills.jpg");
  background-position: 40% 85%;
  background-size: cover;
  margin-bottom: 6.4%;
  text-shadow: 0px 0px 2vw rgb(0, 0, 0), 0px 0px 4vw rgba(0, 0, 0, 0.8),
    0px 0px 6vw rgba(22, 22, 22, 0.6);
  clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 100%);
}
.skills > p {
  position: relative;
  top: 2vw;
  left: 45vw;
  width: 10vw;
  height: 5vw;
  font-family: "Itim";
  font-size: 4vw;
  color: white;
}
.skills > img {
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 100rem;
  padding: 1.5vw;
  box-shadow: 0 0 5vw 2vw rgb(255, 255, 255);
  height: 6vw;
  width: 6vw;
}
.py {
  position: absolute;
  top: 36vh;
  left: 10vw;
}
.git {
  position: absolute;
  top: 50vh;
  left: 35vw;
}
.js {
  position: absolute;
  top: 35vh;
  left: 53vw;
  border-radius: 2vw !important;
}
.react {
  position: absolute;
  top: 45vh;
  left: 70vw;
}
.figma {
  position: absolute;
  top: 75vh;
  left: 20vw;
  border-radius: 3rem !important;
}
.ai {
  position: absolute;
  top: 25vh;
  left: 85vw;
  border-radius: 5rem !important;
}
.sql {
  position: absolute;
  top: 74vh;
  left: 85vw;
  border-radius: 1rem !important;
}
.ml {
  position: absolute;
  top: 72vh;
  left: 53vw;
}

@media only screen and (max-width: 767px),
  only screen and (orientation: portrait) {
  /* Skills Page */
  .skills {
    height: 100vh;
    clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0% 100%);
    top: -2vh;
  }
  .skills > p {
    font-size: 10vw;
    top: 5vw;
    left: 40vw;
  }
  .skills > img {
    height: 12vw;
    width: 12vw;
    padding: 3vw;
    background-color: rgba(255, 255, 255, 0.795);
  }
  .py {
    top: 30vh;
    left: 10vw;
  }
  .git {
    top: 50vh;
    left: 17vw;
  }
  .js {
    top: 20vh;
    left: 70vw;
  }
  .react {
    top: 37vh;
    left: 50vw;
  }
  .figma {
    top: 75vh;
    left: 10vw;
    border-radius: 2rem !important;
  }
  .ai {
    top: 52vh;
    left: 76vw;
    border-radius: 1rem !important;
  }
  .sql {
    top: 80vh;
    left: 70vw;
  }
  .ml {
    top: 65vh;
    left: 45vw;
  }
}
